.gallery {
    margin: 0 auto;
    margin-bottom: 128px;
    box-sizing: border-box;
    display: flex; 
    justify-content: center;
      
}

.gallery__full-size {
    max-width: 448px;
    display: flex;
    flex-direction: column;
}

.gallery__full-size-container {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    width: 448px;
    height: 432px;
    
}

.gallery__full-size-container:hover {
    opacity: 1;
    visibility: visible;
}
.gallery__full-size-img {
    transition: transform 1s;
    width: 100%;
    height: 100%;
}

.gallery__full-size-img:hover {
    transform: scale(1.1);
}

.gallery__full-size-about {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}
.gallery__full-size-info {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
   }

.gallery__item-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.gallery__autor-img {
    background-color: chocolate;
    height: 48px;
    width: 48px;
    border-radius: 48px;
    margin-right: 16px;
}

.gallery__item-name {
    display: flex;
    flex-direction: column;
}

.gallery__item-title {
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
    overflow: hidden;
    margin: 0;
}
.gallery__item-stock {
    font-weight: 500;
    line-height: 24px;
    font-size: 14px;
    margin: 0;
}

.gallery__item-price {
    display: flex;
    flex-direction: column;
}

.gallery__item-bid {
    color: var(--grayN);
    font-weight: 300;
    font-size: 12px;
    line-height: 20px;
    margin: 0;
}

.gallery__bid-value {
    font-weight: 700;
    color: var(--green);
    width: 68px;
    height: 26px;
    font-size: 12px;
    line-height: 12px;
    border: 2px solid #45B36B;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    display: flex;
}

.gallery__list {
    width: 350px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    margin: 0;
    padding-right: 32px;
    border-right: 2px solid #E6E8EC;
}

.gallery__list-item {
    display: flex; 
    list-style-type: none;   
}

.gallery__list-item-img {
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    width: 160px;
    height: 148px;

}

.gallery__list-img-mini {
    transition: transform 1s;
    width: 100%;
    height: 100%;
}

.gallery__list-img-mini:hover {
    transform: scale(1.1);
}

.gallery__list-item-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 24px;
}

.gallery__list-item-title {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    max-width: 160px;
    padding-bottom: 8px;
}

.gallery__list-item-dibs {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 16px;
}

.gallery__list-item-autor-img {
    width: 24px;
    height: 24px;
    border-radius: 48px;
    background: #9757D7;
}

.gallery__list-item-count {
    margin: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
}

.gallery__list-item-bid-button {
    height: 32px;
    width: 110px;
    border-radius: 90px;
    border: 2px solid #E6E8EC;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    font-family: Poppins, Arial, sans-serif;
    transition: .2s;
}
.gallery__list-item-bid-button:hover {
    background-color: var(--blue);
    color: var(--back);
    border: none;
    cursor: pointer;
}

.gallery__creators {
    padding-left: 40px;
    display: flex;
    flex-direction: column;
}

.gallery__creators-title {
    margin: 0;
    font-weight: 600;
    font-size: 12px;
    line-height: 20px;
    color: var(--grayN);
}

.gallery__creators-list {
    margin: 0;
    display: flex;
    flex-direction: column;
    padding: 0;

}

.gallery__creators-list-item {
    display: flex;
    padding: 29px 0;
    border-bottom: 1px solid #E6E8EC;
    position: relative;
    
}

.gallery__creators-list-item:last-of-type {
    border: none;
}

.gallery__creators-item-img {
    height: 56px;
    width: 56px;
    border-radius: 48px;
    background-color: #4BC9F0;
    margin-right: 16px;
}

.any {
    background-color: #E4D7CF;
}


.gallery__creators-number {
    position: absolute;
    top: 20px;
    left: -9px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid #FCFCFD;
    background: #23262F;
    font-size: 12px;
    line-height: 1.66667;
    font-weight: 600;
    color: #FCFCFD;
}

.gallery__creators-item-info {
    display: flex;
    flex-direction: column;
}

.gallery__creators-info-name {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    padding-top: 5px;
}
.gallery__creators-info-bid {
    font-weight: 400;
    line-height: 20px;
    font-size: 12px;
    color: var(--grayN);
    margin: 0;
    padding-top: 5px;
}

.gallery__creators-button {
    border: 2px solid #E6E8EC;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 158px;
    height: 40px;
    padding: 0 16px;
    transition: .2s;
}


.gallery__creators-button:hover {
    filter:saturate(15);
    cursor: pointer;
}

.gallery__creators-button-arrow {
    height: 16px;
    width: 16px;
}