.hotcollections {
    margin: 0 auto;
    padding: 128px 160px;
    display: flex;
    flex-direction: column;
}

.hotcollections__header {
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    text-align: start;
}

.hotcollections__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
    
}

.hotcollections__list-item {
    display: flex;
    flex-direction: column;
    max-width: 352px;
    width: 100%;
}

.hotcollections__item-preview {
    border-radius: 8px;
    max-width: 352px;
    max-height: 240px;
    
}

.hotcollections__preview-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.hotcollections__preview-list {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hotcollections__preview-container {
    width: 112px;
    height: 75px;
    
}

.hotcollections__preview-img-mini {
    width: 100%;
    height: 100%;    
    object-fit: cover;
    border-radius: 8px;
}

.hotcollections__info {
    margin-top: 16px;
    display: flex;
    flex-direction: column;
}
.hotcollections__info-title {
    margin: 0;
    width: 100%;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

.hotcollections__info-autor {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.hotcollections__autor-avatar {
    width: 24px;
    height: 24px;
    background-color: aquamarine;
    margin-right: 12px;
    border-radius: 50%;
}

.hotcollections__avatar-img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.hotcollections__autor-name {
    margin: 0;
    font-size: 14px;
    line-height: 24px;
    font-weight: 500;
}

.hotcollections__info-about {
    border: 2px solid #E6E8EC;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 700;
    line-height: 12px;
    align-items: center;
    justify-content: center;
    display: flex;
}