@import url(./blocks/page/page.css);
@import url(./blocks/header/header.css);
@import url(./vendor/fonts.css);
@import url(./blocks/button/button.css);
@import url(./variables.css);
@import url(./blocks/about/about.css);
@import url(./blocks/content/content.css);
@import url(./blocks/gallery/gallery.css);
@import url(./blocks/carousel/carousel.css);
@import url(./blocks/hotbid/hotbid.css);
@import url(./blocks/hotcollections/hotcollections.css);
@import url(./blocks/discover/discover.css);
@import url(./blocks/cubes/cubes.css);
@import url(./blocks/footer/footer.css);

.carousel__track {
    display: flex;
}

.carousel__slider {
    display: glex;
    position: relative;
    flex-direction: row;   
}

.carousel-slider-list  {
    overflow: hidden;
    width: 1250px;
}

.carousel__list-item:hover .carousel-slider-list {
    width: 1300px;
}


