.cubes {
    display: flex;
    flex-direction: row;
    /* flex-wrap: wrap; */
    align-items: center;
    margin: 0 auto;
    justify-content: center;
}

.cubes__content {
    display: flex;
    flex-direction: column;
    max-width: 60%;

}

.cubes__subtitle {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    color: var(--grayN);
}

.cubes__title {
    font-size: 64px;
    font-weight: 700;
    line-height: 64px;
    padding-top: 12px;
    margin: 0;
}

.cubes__text {
    color: var(--grayN);
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
    padding-top: 20px;
}

.cubes__btns {
    margin-top: 40px;
    display: flex;
    flex-direction: row;
}

.cubes__button-active {
    border: none;
    border-radius: 90px;
    background-color: var(--blue);
    color: var(--back);
    text-align: center;
    width: 120px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    margin-right: 16px;
}

.cubes__button {
    border: 2px solid #E6E8EC;
    border-radius: 90px;
    width: 160px;
    height: 48px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
}

.cubes__img-container {
    width: 700px;
    height: 640px;

}

.cube__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

