.hotbid {
    display: flex;
    padding: 136px 160px 128px 160px;
    margin: 0 auto;
    flex-direction: column;
}

.hotbid__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hotbid__header-title {
    font-weight: 700;
    line-height: 48px;
    font-size: 40px;
    margin: 0;
}

.hotbid__header-nav {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.hotbid__content {
    margin-top: 64px;    
}

.hotbid__list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 0;
}

.hotbid__list-item {
    display: flex;
    flex-direction: column;
    max-width: 256px;
    width: 100%;
}

.hotbid__item-card {
    max-width: 256px;
    max-height: 303px;
    border-radius: 16px;    
    position: relative; 
    display: inline-block;  
}

.hotbid__card-back {
    background: #000;
    overflow: hidden;
    max-width: 256px;
    max-height: 303px;
    border-radius: 16px;
}

.hotbid__card-img {
    opacity: 1;
    width: 100%;
    height: 100%;
    display: block;
    transition: opacity .3s linear, transform .3s linear;       
}

.hotbid__card-like {
    background: var(--back) url(../../images/heart_disabled.svg) center no-repeat;
    /* background: var(--back) url(../../images/heart_active.svg) center no-repeat; */
    width: 32px;
    height: 32px;
    border-radius: 50%;
    position: absolute;
    top: 12px;
    right: 12px;
    opacity: 0;    
    transition: opacity .5s linear;
    border: none;
    align-items: center;
}

/* .hotbid__card-like_active {
    background: var(--back) url(../../images/heart_active.svg) center no-repeat;
} */


.hotbid__card-splash {
    display: flex;
    border-radius: 8px;
    position: absolute;
    left: 15px;
    top: 2px;
    width: fit-content;
    height: 28px;
    background: var(--green);
    color: var(--back);
    font-size: 14px;
    font-weight: 700;
    line-height: 1;
    align-items: center;
    justify-content: center;
    transition: all .5s linear;
    opacity: 0;
    padding: 0 10px;
}

.hotbid__card-bid-link {
    position: absolute;
    left: 40px;
    bottom: 5px;
    min-width: 140px;
    opacity: 0;
    height: 40px;
    border-radius: 20px;
    padding: 0 16px;
    font-size: 14px;
    justify-content: center;
    background: var(--blue);
    display: flex;
    align-items: center;
    color: var(--back);
    font-weight: 700;
    line-height: 1;
    text-align: center;
    text-decoration: none;
    transition: all .5s linear;
}

.hotbid__card-img:hover {
    opacity: .6;
    transform: scale(1.1);
    cursor: pointer;
}

.hotbid__item-card:hover .hotbid__card-like{
    opacity: 1;    
}

.hotbid__item-card:hover .hotbid__card-bid-link{
    opacity: 1;
    transform: translateY(-25%);
}

.hotbid__item-card:hover .hotbid__card-splash{
    opacity: 1;
    transform: translateY(45%);
}


.hotnbid__card-btns {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(35,38,47,.2);
    visibility: hidden;
    border-radius: 16px;
    opacity: 0;
    transition: all .3s;
}

.hotbid__card-about {
    display: flex;
    flex-direction: row;
    padding-bottom: 12px;
    border-bottom: 1px solid rgba(119,126,144,.2);
    justify-content: space-between;
    
}

.hotbid__card-container {
    display: flex;
    flex-direction: column;
}

.hotbid__card-info {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.hotbid__card-container {
    display: flex;
    flex-direction: column;
}

.hotbid__container-name {
    margin: 0;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-overflow: eclipsis;
    width: 90%;
}

.hotbid__container-imgs {
    display: flex;
    
}

.hotbid__container-avatar {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    border: 2px solid var(--back);
    background-color: coral;
}

.hotbid__container-avatar:not(:first-child) {
    margin-left: -8px;
}

.hotbid__container-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.hotbid__card-price {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
   
}


.hotbid__card-price-bid {
    display: flex;
    font-weight: 700;
    color: var(--green);
    width: 68px;
    height: 26px;
    font-size: 12px;
    line-height: 12px;
    border: 2px solid #45B36B;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
}

.hotbid__card-items-info {
    margin: 0;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    justify-content: right;
    display: flex;
}

.hotbid__card-footer {
    padding-top: 12px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.hotbid__card-footer-name {
    
}

.hotbid__footer-img {
    width: 20px;
    height: 20px;
    margin-right: 8px;
}

.hotbid__footer-about {
    margin: 0;
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
}

.hotbid__footer-new {
    font-size: 12px;
    font-weight: 300;
    line-height: 20px;
    color: var(--grayN);
}

.hotbid__card-footer-name {
    display: flex;
    flex-direction: row;
}

.hotbid__bid-span {
    margin-right: 5px;
}

@keyframes sortableElement {
	from {
		opacity: 1;
		visibility: visible;
	}
	to {
		opacity: 0;
		visibility: hidden;
	}
}

.item__sortable {
	opacity: 0;
	visibility: hidden;
	animation-name: sortableElement;
	animation-duration: 0.2s;
	animation-fill-mode: forwards;
	display: none;
}