.content {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-width: 75%;
    margin-top: 128px;
    margin-bottom: 128px;
}

.content__image-item {
    max-width: 650px;
    max-height: 800px;
    border-radius: 12px;
}

.content__info {
    max-width: 352px;
    display: flex;
    gap: 40px;
}

.content__info-head {
    display: flex;    
}

.content__info-head-title {
    font-size: 64px;
    line-height: 64px;
    font-weight: 500; 
    padding-bottom: 20px;
    margin: 0;  
    
}

.content__info-head-about {
    display: flex;
    flex-direction: row;    
}

.content__info-head-creator {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content__creator-img {
    height: 40px;
    width: 40px;
    background-color: aquamarine;
    margin-right: 8px;
    border-radius: 50%;
}
.content__creator-bio {
    display: flex;
    flex-direction: column;
    margin-right: 33px;
}

.content__creator-title {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: var(--grayN);
}

.content__creator-name {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: var(--blackN);
}

.content__info-head-price {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.content__price-img {
    background-color: #45B26B;
    border-radius: 50%;
    margin-right: 8px;
    width: 40px;
    height: 40px;
}
.content__price-bio {
    display: flex;
    flex-direction: column;
}

.content__price-title {
    margin: 0;
    font-size: 12px;
    font-weight: 700;
    line-height: 20px;
    color: var(--grayN);
}

.content__price-value {
    margin: 0;
    font-size: 14px;
    font-weight: 700;
    line-height: 24px;
    color: var(--blackN);
}

.content__info {
    display: flex;
    flex-direction: column;
}

.content__info-head {
    display: flex;
    flex-direction: column;
}

.content__info-bid {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 352px;
    border: 2px solid #E6E8EC;
    box-shadow: 0px 64px 64px -48px rgba(31, 47, 70, 0.12);
    border-radius: 24px;
}

.content__info-bid-subtitle {
    margin: 0 auto;
    padding-top: 32px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 700;    
}

.content__info-bid-title {
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    font-weight: 700;
    margin: 0;
}

.content__info-bid-calc {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    color: var(--grayN);
    text-align: center;
    margin: 0;
}

.content__count-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    margin: 0;
}

.content__count {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    width: inherit; 
    width: 225px;
    margin: 0 auto;   
}

.content__count-item {
    display: flex;
    flex-direction: column;     
    margin-bottom: 32px; 
}

.content__count-value {
    font-weight: 700;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    margin: 0;
    
}

.content__count-name {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 24px;
    margin: 0;
    color: var(--grayN);

}

.content__info-button-blue {
    background-color: var(--blue);
    color: var(--back);
    border: none;
    width: 352px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    height: 48px;
}

.content__info-button {
    border: 2px solid #E6E8EC;
    color: var(--black);
    width: 352px;
    margin-top: 8px;
    font-size: 16px;
    font-weight: 700;
    line-height: 16px;
    height: 48px;
}

.content__info-nav-button-right {
    background: url(../../images/arrow_right.svg) center no-repeat;
    border: none;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    transition: opicity .5s;
}

.content__info-nav-button-right:hover {
    border: 2px solid #E6E8EC;
}


.content__info-nav-button-left {
    background: url(../../images/arrow_left.svg) center no-repeat;
    border: none;
    border-radius: 40px;
    width: 40px;
    height: 40px;
    transition: opicity .5s;
}

.content__info-nav-button-left:hover {
    border: 2px solid #E6E8EC;
}

.gallery__creators-button {
    border: 2px solid #E6E8EC;
    border-radius: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    width: 158px;
    height: 40px;
    padding: 0 16px;
}

.gallery__creators-button-arrow {
    height: 16px;
    width: 16px;
}