.header {
    width: 100%;
    max-height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(119,126,144,.2);
    position: sticky;
    top: 0;    
    box-sizing: border-box;
    background-color: var(--back);
    z-index: 100;    
}

.header__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 160px;  
}

.header__logo {
    margin: 10px 32px 0 0;
}

.header__nav-about {
    color: var(--grayN);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
}

.header__divider {
    margin-right: 32px;
}
.header__nav-about:first-of-type {
    color: var(--black);
    margin-right: 32px;
}

.header__buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 20px 160px 20px 0;
}

.header__search {
    width: 256px;
    height: 40px;
    border: 2px solid #E6E8EC;
    border-radius: 8px;    
}

.header__alert {
    width: 40px;
    background: url(../../images/bell.png) center no-repeat;
    border: none;
    margin: 0 24px;    
}

.header__buttons {
    width: 229px;
    display: flex;
    justify-content: space-between;
}

.header__upload {
    background-color: var(--blue);
    color: var(--back);
    border: none;
    width: 80px;
    transition: .5s;
}

.header__upload:hover {
    cursor: pointer;
    filter: saturate(5);
}

.header__connect {
    border: 2px solid #E6E8EC;
    color: var(--black);
    width: 137px;
    transition: .2s;
}

.header__connect:hover {
    background-color: var(--blue);
    color: var(--back);
    border: none;
    cursor: pointer;
}